{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center"
         style="background: url('{% static 'assets/img/myimg.jpg' %}') no-repeat;  height: 100vh; background-position: center;">
    <div class="hero-container" data-aos="fade-in">
        <h1>AbdulRauf <span class="text-primar" style="color: #149ddd;">Adebayo</span></h1>
        <p>I'm <span class="typed" data-typed-items="Backend Developer, Freelancer,"></span></p>
    </div>
</section>
<!-- End Hero -->
