{% load static %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'assets/img/myimg.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">AbdulRauf Adebayo</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://github.com/Scofield1?tab=repositories" class="github" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/abdulrauf-adebayo/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://join.skype.com/invite/l8m4qgZUf2os" class="google-plus" target="_blank"><i class="bx bxl-skype"></i></a>
                <a href="https://twitter.com/ScofieldDcoder?t=C7QuQXZwU2FFyPQIwN2BvA&s=09" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/invites/contact/?i=17frmsc5b4ej0&utm_content=2q1ztnj" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Portfolio</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->